
<%- include ('../partial/header') -%>


<body>

  <h3>Invoice: <%= data.invoice %></h3>  
  <h3>Date: <%= data.createdAt %> </h3> 
  <h3>Total: <%= data.total %> </h3> 

  <h1 class="hsatu">LIST ITEMS</h1>
  <table class="table table-bordered table-dark">
    <thead>
      <th>No</th>
      <th>Nama</th>
      <th>Quantity</th>
      <th>Price</th>

    </thead>
    <tbody>
      <% if (data.Items) { %>
        <% data.Items.forEach((item, i)=> { %>
          <tr>
            <td>
              <%= i + 1 %>
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= data.quantity %>
            </td>
            <td>
              <%= item.nominal %>
            </td>
          </tr>
          <% }) %>
            <% } else { %>
              <tr>
                <td colspan="4">Empty Data</td>
              </tr>
              <% } %>
    </tbody>
  </table>

</body>

</html>
